@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style=" font-family: 'Nostromo Regular';
    color: #ffffff;
    background: linear-gradient(90deg, #DB20FF 0.3%, #09F6A7 99.64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
" class="display-4">Chào mừng bạn đến với ứng dụng quản lý hàng hóa</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
